---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css";


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy un desarrollador web junior apasionado por crear experiencias digitales funcionales y atractivas. Me especializo en tecnologías como PHP, JavaScript, TypeScript, HTML y CSS, y disfruto diseñar interfaces modernas y responsivas con TailwindCSS. También tengo experiencia en desarrollo del lado del servidor con NodeJS, lo que me permite construir aplicaciones web dinámicas y eficientes.
                Siempre estoy buscando aprender nuevas tecnologías y mejorar mis habilidades, con el objetivo de aportar valor a cada proyecto y crecer profesionalmente en el mundo del desarrollo web.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
