---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css";


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy un desarrollador web apasionado por crear experiencias digitales funcionales y atractivas. Me especializo en tecnologías como PHP, JavaScript, TypeScript, HTML y CSS, diseñando interfaces modernas y responsivas con TailwindCSS y NodeJS en el servidor.
				Además del desarrollo web, trabajo con automatizaciones usando n8n y herramientas de inteligencia artificial como OpenAI y Claude, integrando flujos inteligentes que potencian productos y procesos. Siempre buscando aprender y aportar valor en cada proyecto.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
